.main{
  height:100vh;
  background-color: #DDCB65;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}

.cell{
  width:100px;
  height:100px;
  background-color: #bbb;
  border: 1px solid black;
  cursor: pointer;
  
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}